* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  min-height: 100%;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.scroll {
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#app {
  background: #eee;
}
.table {
  height: 100%;
  width: 100%;
}

.main,
.body,
.opinion-container {
  height: 100%;
  margin-bottom: 20px;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.mint-popup {
  height: auto;
}

.submit {
  width: 100%;
  padding: 10px;
}

.mint-button--primary {
  width: 100%;
  background-color: #1c51b3;
}

.validate {
  color: red;
  font-size: 12px;
}

.mint-toast-icon {
  font-size: 30px;
}

.tg {
  width: 32%;
  position: absolute;
  margin-top: 10px;
  right: 20px;
}
.el-button {
  -webkit-user-select: none;
  user-select: none;
}

.box_nr {
  margin: 0;
  padding: 0;
  padding: 20px 20px;
}

.center-logo {
  margin-top: 160px;
  font-size: 16px;
}

.center-logo img {
  width: 93px;
  height: 45px;
}

.center-logo p {
  content: "加载中...";
  margin-top: 10px;
  text-align: center;
  color: #000;
  display: block;
  font-size: 14px;
}

.center-logo p > i {
  display: inline-block;
  height: 1em;
  line-height: 1;
  text-align: left;
  vertical-align: -0.25em;
  overflow: hidden;
}

.center-logo p > i::before {
  display: inline-block;
  content: "...\A..\A.";
  white-space: pre;
  animation: dot 3s infinite step-start both;
}

@keyframes dot {
  33% {
    transform: translateY(-2em);
  }
  66% {
    transform: translateY(-1em);
  }
}

.wztx {
  animation: fadeIn 2s ease-in-out 0s alternate forwards;
}
.bttx {
  animation: fadeIn 2s ease-in-out 0s alternate forwards;
}
.tptx {
  animation: tu1_top 2s ease-in-out 0s alternate forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tu1_top {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.top_img_box {
  position: relative;
  height: 43%;
  /* overflow: hidden; */
  width: 100%;
  font-size: 12px;
  text-align: center;
}

.yinyue {
  position: fixed;
  top: 5px;
  right: 0px;
}

.open {
  position: absolute;
  top: 8px;
  right: 5px;
}
.close {
  position: absolute;
  top: 18px;
  right: 5px;
  display: none;
}

.jiyi {
  margin-top: 15px;
  text-align: center;
  opacity: 0;
}

.fangda {
  animation: fangda 10s ease 0.1s;
}

@keyframes fangda {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.sikai {
  animation: sikai 0.5s ease-in-out 0.1s alternate forwards;
}

@keyframes sikai {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30%);
  }
}

.sikai_top {
  animation: sikai_top 0.5s ease-in-out 0.1s alternate forwards;
}

@keyframes sikai_top {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30%);
  }
}

.no-padding {
  padding: 0 !important;
}

.top_img_box .shenzhen {
  animation: topFadeIn 1s ease-out 2s alternate forwards;
}

@keyframes topFadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.top_img_box .zongbu {
  margin-top: -10px;
  animation: bottomFadeIn 1s ease-out 2s alternate forwards;
}

@keyframes bottomFadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}

.beijing {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 50px;
  animation: beijing 2s ease-in-out 3s alternate forwards;
}

@keyframes beijing {
  0% {
    opacity: 1;
    transform: translateY(-10%)
  }
  50% {
    opacity: 0.5;
    transform: translateY(0)
  }
  100% {
    opacity: 0;
    transform: translateY(10%);
  }
}

.guangzhou {
  opacity: 0;
  position: absolute;
  top: 100px;
  left: 50px;
  animation: guangzhou 2s ease-in-out 3s alternate forwards;
}

@keyframes guangzhou {
  0% {
    opacity: 1;
    transform: translateY(10%);
  }
  50% {
    opacity: 0.5;
    transform: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}

.wuhan {
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 0;
  animation: wuhan 2s ease-in-out 5s alternate forwards;
}

@keyframes wuhan {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  75% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  76% {
    transform: rotate(10deg);
  }
  100% {
    opacity: 0;
    transform: translateX(10%);
  }
}

.donggang {
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 0;
  animation: donggang 2s ease-in-out 7s alternate forwards;
}

@keyframes donggang {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
  75% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  76% {
    transform: rotate(-10deg);
  }
  100% {
    opacity: 0;
    transform: translateX(-10%);
  }
}

.zhongduan {
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 30px;
  animation: zhongduan 2s linear 9s alternate forwards;
}

@keyframes zhongduan {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}
