* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  min-height: 100%;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

#app {
  background: #eee;
}
.table {
  height: 100%;
  width: 100%;
}

.main, .body, .opinion-container {
  height: 100%;
  margin-bottom: 20px;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.mint-popup {
  height: auto;
}

.submit {
  width: 100%;
  padding: 10px;
}

.mint-button--primary {
  width: 100%;
  background-color: #1c51b3;
}

.validate {
  color: red;
  font-size: 12px;
}

.mint-toast-icon {
  font-size: 30px;
}

.tg {
  width: 32%;
  position: absolute;
  margin-top: 10px;
  right: 20px;
}
.el-button {
  -webkit-user-select: none;
  user-select: none;
}

.box_nr {
  margin: 0;
  padding: 0;
  padding: 20px 20px;
}