* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  min-height: 100%;
  height: 100%;
  min-height: 100%;
  width: 100%;
}
body {
  overscroll-behavior: contain;
}
.scroll {
  position: absolute;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#app {
  background: #eee;
}
.table {
  height: 100%;
  width: 100%;
}

.main, .body, .opinion-container {
  height: 100%;
  margin-bottom: 20px;
}

table {
  margin: 10px auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.mint-popup {
  height: auto;
}

.submit {
  width: 100%;
  padding: 10px;
}

.mint-button--primary {
  width: 100%;
  background-color: #1c51b3;
}

.validate {
  color: red;
  font-size: 12px;
}

.mint-toast-icon {
  font-size: 30px;
}

.tg {
  width: 32%;
  position: absolute;
  margin-top: 10px;
  right: 20px;
}
.el-button {
  -webkit-user-select: none;
  user-select: none;
}

.box_nr {
  margin: 0;
  padding: 0;
  padding: 20px 20px;
}

.center-logo {
  margin-top: 160px;
  font-size: 16px;
}

.center-logo img {
  width: 93px;
  height: 45px;
}

.center-logo p {
  content: "加载中...";
  margin-top: 10px;
  text-align: center;
  color: #000;
  display: block;
  font-size: 14px;
}

.center-logo p > i {
  display: inline-block;
  height: 1em;
  line-height: 1;
  text-align: left;
  vertical-align: -.25em;
  overflow: hidden;
}

.center-logo p > i::before {
  display: inline-block;
  content: '...\A..\A.';
  white-space: pre;
  animation: dot 3s infinite step-start both;
}

@keyframes dot {
  33% {
      transform: translateY(-2em);
  }
  66% {
      transform: translateY(-1em);
  }
}

// .sk-wave {
//   margin: 15px auto;
//   width: 50px;
//   height: 40px;
//   text-align: center;
//   font-size: 10px;
// }

// .sk-wave .sk-rect1 {
//   animation-delay: -1.2s;
// }

// .sk-wave .sk-rect2 {
//   animation-delay: -1.1s;
// }

// .sk-wave .sk-rect3 {
//   animation-delay: -1s;
// }

// .sk-wave .sk-rect4 {
//   animation-delay: -0.9s;
// }

// .sk-wave .sk-rect5 {
//   animation-delay: -0.8s;
// }

// .sk-wave .sk-rect {
//   background-color: #999;
//   height: 100%;
//   width: 6px;
//   display: inline-block;
//   animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
// }

// @keyframes sk-waveStretchDelay {
//   0%,
//   40%,
//   100% {
//     transform: scaleY(0.4);
//   }
//   20% {
//     transform: scaleY(1);
//   }
// }