@charset "utf-8";

img {
  max-width: 100%;
  border: none;
}
.container {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 10%;
  top: 0;
}

.container .page {
  height: 100%;
  position: relative;
  color: #333333;
  overflow: hidden;
}

.page_box {
  /* background: #fff; */
  overflow: hidden;
}
.container .page0 {
  top: 7%;
}
.container .page1 {
  top: 7%;
}
.container .page2 {
  top: 7%;
}
.container .page3 {
  top: 7%;
}
.container .page4 {
  top: 7%;
}
.container .page5 {
  top: 7%;
}
.container .page6 {
  top: 7%;
}
.container .page7 {
  top: 7%;
  position: relative;
}

.foot {
  font-size: 1rem;
  padding-top: 1rem;
  height: 36%;
  overflow: hidden;
}

.foot p {
  font-size: 0.9rem;
  text-align: center;
}

.tu1_vt {
  letter-spacing: 6px;
  letter-spacing: 6px;
  text-align: center;
}

.wztx {
  animation: fadeIn 2s ease-in-out 0s alternate forwards;
}
.bttx {
  animation: fadeIn 2s ease-in-out 0s alternate forwards;
}
.tptx {
  animation: tu1_top 2s ease-in-out 0s alternate forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes tu1_top {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.top_img_box {
  position: relative;
  height: 43%;
  overflow: hidden;
  width: 100%;
  font-size: 12px;
}

.yinyue {
  position: fixed;
  top: 5px;
  right: 0px;
}

.open {
  position: absolute;
  top: 8px;
  right: 5px;
}
.close {
  position: absolute;
  top: 18px;
  right: 5px;
  display: none;
}
.jiantou {
  position: absolute;
  bottom: 2%;
  left: 50%;
  margin-left: -10px;
  display: none;
}

.jiyi {
  position: absolute;
  bottom: 18%;
  left: 50%;
  margin-left: -53px;
  opacity: 0;
}

.fangda {
  /* transform: scale(1.1); */
}

.fangda {
  animation: fangda 10s ease 0.1s;
}

@keyframes fangda {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.sikai {
  animation: sikai 0.5s ease-in-out 0.1s alternate forwards;
}

@keyframes sikai {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(30%);
  }
}

.sikai_top {
  animation: sikai_top 0.5s ease-in-out 0.1s alternate forwards;
}

@keyframes sikai_top {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30%);
  }
}

.no-padding {
  padding: 0 !important;
}
.beijing {
  opacity: 0;
  position: absolute;
  top: 30px;
  left: 0;
  animation: beijing 5s ease-in-out 3s alternate forwards;
}

@keyframes beijing {
  0% {
    opacity: 0.5;
    transform: scale(1);
  }
  25% {
    transform: scale(1.1); 
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}