@charset "utf-8";

img {
  max-width: 100%;
  border: none;
}
.container {
  width: 80%;
  height: 100%;
  position: absolute;
  left: 10%;
  top: 0;
}

.container .page {
  height: 100%;
  position: relative;
  color: #333333;
  overflow: hidden;
}

.page_box {
  overflow: hidden;
}
.container .page0 {
  top: 7%;
}
.container .page1 {
  top: 7%;
}
.container .page2 {
  top: 7%;
}
.container .page3 {
  top: 7%;
}
.container .page4 {
  top: 7%;
}
.container .page5 {
  top: 7%;
}
.container .page6 {
  top: 7%;
}
.container .page7 {
  top: 7%;
  position: relative;
}

.foot {
  font-size: 1rem;
  padding-top: 1rem;
  height: 36%;
  overflow: hidden;
}

.foot p {
  font-size: 0.9rem;
  text-align: center;
}

.tu1_vt {
  letter-spacing: 6px;
  letter-spacing: 6px;
  text-align: center;
}

